In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

df = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [3]:
df.info()
df = df.dropna(subset=["AverageTemperature"])
df["dt"] = pd.to_datetime(df["dt"])
df["year"] = df["dt"].dt.year
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

          dt  AverageTemperature  AverageTemperatureUncertainty Country  year
0 1743-11-01               4.384                          2.294   Åland  1743
5 1744-04-01               1.530                          4.680   Åland  1744
6 1744-05-01               6.702                          1.789   Åland  1744
7 1744-06-01              11.609                          1.577   Åland  1744
8 1744-07-01              15.342                          1.410   Åland  1744

In [4]:
df = df.sort_values("dt")
df["temp_filled"] = df.groupby("Country")["AverageTemperature"].transform(
    lambda x: x.fillna(x.rolling(window=5, min_periods=1).mean())
)