In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [29]:
groups = df.groupby("target")

In [30]:
means = groups.mean()
means

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [32]:
standard_deviation = groups.std()
standard_deviation

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,0.352490,0.379064,0.173664,0.105386
1,0.516171,0.313798,0.469911,0.197753
2,0.635880,0.322497,0.551895,0.274650

In [33]:
ranges = groups.max() - groups.min()
ranges

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,1.5,2.1,0.9,0.5
1,2.1,1.4,2.1,0.8
2,3.0,1.6,2.4,1.1