In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [26]:
x = df[["sepal length (cm)", "sepal width (cm)"]]
y = df["target"]

In [31]:
p_test = x.iloc[-1]
real_class = y.iloc[-1]
x_train = x.iloc[:-1]
y_train = y.iloc[:-1]
euclidean_distance = np.sqrt((x_train["sepal length (cm)"] - p_test["sepal length (cm)"])**2 + (x_train["sepal width (cm)"] - p_test["sepal width (cm)"])**2)

In [30]:
idx = euclidean_distance.idxmin()
nearest_class = y_train.loc[idx]

In [33]:
print("Predicted:", nearest_class)
print("Real:", real_class)

Predicted: 1
Real: 2

In [37]:
k = 3
k_idx = euclidean_distance.nsmallest(k).index
k_classes = y_train.loc[k_idx]
predicted_k3 = k_classes.mode()[0]
print("predicted_k3:", predicted_k3)

predicted_k3: 1