In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [44]:
groups = df.groupby("target")

In [45]:
means = groups.mean()
means

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [46]:
standard_deviation = groups.std()
standard_deviation

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,0.352490,0.379064,0.173664,0.105386
1,0.516171,0.313798,0.469911,0.197753
2,0.635880,0.322497,0.551895,0.274650

In [47]:
ranges = groups.max() - groups.min()
ranges

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,1.5,2.1,0.9,0.5
1,2.1,1.4,2.1,0.8
2,3.0,1.6,2.4,1.1

In [48]:
setosa = df[df["target"] == 0]
setosa_df = pd.DataFrame({
    "Mean": setosa.mean(),
    "Standard deviation": setosa.std(),
    "Range": setosa.max() - setosa.min()
})
setosa_df

                    Mean  Standard deviation  Range
sepal length (cm)  5.006            0.352490    1.5
sepal width (cm)   3.428            0.379064    2.1
petal length (cm)  1.462            0.173664    0.9
petal width (cm)   0.246            0.105386    0.5
target             0.000            0.000000    0.0

In [49]:
versicolor = df[df["target"] == 1]
versicolor_df = pd.DataFrame({
    "Mean": versicolor.mean(),
    "Standard deviation": versicolor.std(),
    "Range": versicolor.max() - versicolor.min(),
})
versicolor_df

                    Mean  Standard deviation  Range
sepal length (cm)  5.936            0.516171    2.1
sepal width (cm)   2.770            0.313798    1.4
petal length (cm)  4.260            0.469911    2.1
petal width (cm)   1.326            0.197753    0.8
target             1.000            0.000000    0.0

In [51]:
virginica = df[df["target"] == 2]
virginica_df = pd.DataFrame({
    "Mean": virginica.mean(),
    "Standard deviation": virginica.std(),
    "Range": virginica.max() - virginica.min(),
})
virginica_df

                    Mean  Standard deviation  Range
sepal length (cm)  6.588            0.635880    3.0
sepal width (cm)   2.974            0.322497    1.6
petal length (cm)  5.552            0.551895    2.4
petal width (cm)   2.026            0.274650    1.1
target             2.000            0.000000    0.0

In [56]:
summary = pd.concat(
    {
        "Mean": means,
        "Standard deviation": standard_deviation,
        "Range": ranges
    },
    axis=1
)

summary

                    Mean                                                      \
       sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
target
0                  5.006            3.428             1.462            0.246
1                  5.936            2.770             4.260            1.326
2                  6.588            2.974             5.552            2.026

       Standard deviation                                                      \
        sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
target
0                0.352490         0.379064          0.173664         0.105386
1                0.516171         0.313798          0.469911         0.197753
2                0.635880         0.322497          0.551895         0.274650

                   Range
       sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
target
0                    1.5              2.1               0.9              0.5
1                    2.1              1.4               2.1              0.8
2                    3.0              1.6               2.4              1.1