In [1]:
from collections import Counter
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
all_features = ["sepal length (cm)", "sepal width (cm)", 
                "petal length (cm)", "petal width (cm)"]
x = df[all_features].values
y = df["target"].values

In [10]:
x_train = x[:-1]
y_train = y[:-1]
x_test = x[-1]
y_test_actual = y[-1]

In [13]:
for i, feature in enumerate(all_features):
    print(f"{feature}: {x_test[i]:.2f}")
print(f"Real class: {y_test_actual}")

sepal length (cm): 5.90
sepal width (cm): 3.00
petal length (cm): 5.10
petal width (cm): 1.80
Real class: 2